<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- log4j configuration for the tests -->
<log4j:configuration debug="false">
    <appender name="CONSOLE"
              class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %M %C{2} (%F:%L) - %m%n" />
        </layout>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>
